<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="/miniature.png">

      <title>GuessWord</title>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />

      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
      <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="./src/css/styles.css" media="screen" />
      <script>
         var socket = io();
         function setUsername(){
            socket.emit('setUsername', document.getElementById('name').value);
         };

         var user;
         socket.on('userExists', function(data){
            document.getElementById('error-container').innerHTML = data;
         });

         //Mise en attente du guesser
         socket.on('helperWaitGuesser', function(data){
            const waiting = document.createElement('div');
            waiting.innerHTML = "En attente d'un partenaire pour jouer ...";
            waiting.id = "waiting";
            document.getElementById("mainContainer").insertBefore(waiting, document.getElementById("login"));
            document.getElementById("login").remove();
         });

         //Démarrage de la partie côté Helper
         socket.on('startGameHelper', function(data){
            user = data.user;
            document.getElementById("guessWord").innerHTML = "Vous devez faire deviner le mot : " + data.word[0].word;
            document.getElementById("headerListWord").style.visibility = 'visible'
            document.getElementById("listWord").style.visibility = 'visible'
            document.getElementById('guessWord').style.visibility = 'visible';
            document.getElementById('blocProposition').style.visibility = 'visible';
         });

         //Démarrage de la partie côté Guesser
         socket.on('startGameGuesser', function(data){
            user = data.user;
            document.getElementById("waiting").innerHTML = "Démarrage du jeu, votre partenaire va faire une proposition ...";
            document.getElementById("headerListWord").style.visibility = 'visible'
            document.getElementById("listWord").style.visibility = 'visible'
            document.getElementById('guessWord').style.visibility = 'hidden';
            document.getElementById('blocProposition').style.visibility = 'hidden';
         });

         function submitWord(){
            var msg = document.getElementById('message').value;
            if(msg){
               socket.emit('newword', {message: msg, userinfos:user});
               console.log("Message submit");
            }
         }

         socket.on('wait', function(data){
            document.getElementById('blocProposition').style.visibility = 'hidden';
         });

         socket.on('send', function(data){
            document.getElementById('blocProposition').style.visibility = 'visible';
         });

         // Affichage du nouveau mot
         socket.on('printWord', function(data){
            console.log("On print word")
            if(user){
               console.log("User exist in printword");
               const newword = document.createElement('div');
               newword.className = "col-lg-5";
               newword.innerHTML = data.message;
               document.getElementById('listWord').appendChild(newword);
            }
         })
      </script>
   </head>

   <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Retour au menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="mainContainer" class="container">
         <img src="/logo.jpg">
         <br/> <br/>
         <div id="login">
            <input id="name" type="text" name="name">
            <button type="button" onclick="setUsername()">Commencer la partie</button>
         </div>   

         <div class="content-words" style="visibility:hidden;">

         <div class="howtouse">
         <br> 

         <div id="guessWord">
            <p class="lead">Vous devez faire deviner le mot : COURAGE.</p>
         </div>
         
         <div id="blocProposition">
            <p id="envoiProposition" class="lead">Envoyer un indice :</p>
            <input type="text" id="message">
            <button id="send" type="button" name="button" onclick="submitWord()">Send</button>
         </div>
         
         <div id="message-container"> <br> <br></div>

      </div>    

    <div id="headerListWord" class="row">

        <div class="headerGrid col-lg-5"> Vous </div>
        <div class="headerGrid col-lg-5"> Guest3785 </div>
    
    </div>

    <div id="listWord" class="row">

        <!--<div class="col-lg-5"> Qualité </div>
        <div class="col-lg-5"> Gentillesse </div>

        <div class="col-lg-5"> Force </div>
        <div class="col-lg-5"> Puissant </div>

        <div class="col-lg-5"> Dangereux </div>
        <div class="col-lg-5"> Passe </div>

        <div class="col-lg-5"> Audacieux </div>
        <div class="col-lg-5"> Périlleux </div>

        <div class="col-lg-5"> Qualité </div>
        <div class="col-lg-5"> Courageux </div>!-->

    </div>

    <div class="score">
        <br>
        <p class="lead">Score actuel : 0</p>
    </div>
    </div>
    </div><!-- /.container -->

  </body>
   </html>