<!DOCTYPE html>
<html>
   <head><title>Hello world</title></head>
   <script src="/socket.io/socket.io.js"></script>
   <script>
      var socket = io();
      function setUsername(){
         socket.emit('setUsername', document.getElementById('name').value);
      };

      var user;
      socket.on('userExists', function(data){
         document.getElementById('error-container').innerHTML = data;
      });

      //Mise en attente du guesser
      socket.on('helperWaitGuesser', function(data){
         document.body.innerHTML = '<p>En attente d\'un partenaire pour jouer ...</p>';
      });

      //Démarrage de la partie côté Helper
      socket.on('startGameHelper', function(data){
         user = data;
         document.body.innerHTML = '<p>Vous allez devoir faire deviner le mot : Test</p>\
         <input type="text" id="message">\
         <button id="send" type="button" name="button" onclick="submitWord()">Send</button>\
         <div id="message-container"></div>';
         document.getElementById('message').style.visibility = 'visible';
         document.getElementById('send').style.visibility = 'visible';
      });

      //Démarrage de la partie côté Guesser
      socket.on('startGameGuesser', function(data){
         user = data;
         document.body.innerHTML = '<p>Votre partenaire doit vous faire deviner un mot.</p>\
         <input type="text" id="message">\
         <button id="send" type="button" name="button" onclick="submitWord()">Send</button>\
         <div id="message-container"></div>';
         document.getElementById('message').style.visibility = 'hidden';
         document.getElementById('send').style.visibility = 'hidden';
      });

      function submitWord(){
         var msg = document.getElementById('message').value;
         if(msg){
            socket.emit('newword', {message: msg, userinfos:user});
            console.log("Message submit");
         }
      }

      socket.on('wait', function(data){
         document.getElementById('message').style.visibility = 'hidden';
         document.getElementById('send').style.visibility = 'hidden';
      });

      socket.on('send', function(data){
         document.getElementById('message').style.visibility = 'visible';
         document.getElementById('send').style.visibility = 'visible';
      });

      // Affichage du nouveau mot
      socket.on('printWord', function(data){
         console.log("On print word")
         if(user){
            console.log("User exist in printword");
            document.getElementById('message-container').innerHTML +='<div><b>' + data.userinfos.username + '</b>: ' + data.message + '</div>'
         }
      })
   </script>
   
   <body>
      <div id="error-container"></div>
      <input id="name" type="text" name="name" value="" placeholder="Enter your name!">
      <button type="button" name="button" onclick="setUsername()">Let me chat!</button>
      </body>
   </html>