body {
    background: url('/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }

.col-sm-6 {
    padding: 10px;
    line-height: 50px;
    background-color: rgb(164,212,238);
    text-align: center;
    font-weight: normal;
    font-size: large;
    border-radius: 6px;
    border: 3px solid rgb(32,91,129);
  }

.headerGrid{
    border: 3px solid rgb(32,91,129);
    background-color: rgb(52,163,219);
    color: rgb(32,91,129);
    text-align:center;
    line-height: 40px;
    border-radius: 6px;
    font-weight:bold;
}

.container, .container-fluid{
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border:10px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

.col-menu{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border:5px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

h2{
  color:white;
  padding: 20px;
}

.col-3, .col-5{
  background-color: white;
  margin: 15px;
}

.username{
  width:50%;
}

.lead {
  color:white;
}