body {
    background: url('/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }

  [class="col-lg-5"], footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
    font-size: large;
  }

.headerGrid{
    text-align:center;
    border: 2px solid black;
    line-height: 40px;
    border-radius: 6px;
    font-weight:bold;
    font-size: x-large;
}

.container, .container-fluid{
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border:10px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

.col-menu{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border:5px solid;
  border-color: rgba(0, 0, 0, 0.4);
}

h2{
  color:white;
}

.col-3{
  background-color: white;
  margin: 15px;
}